{% extends 'base.html' %}
{% block title %} ABOUT {% endblock title %}

{% block body %}
<div class="main">
	<div class="container">
		<div class="main2">
  <h1>Welcome to About page of Teach Log</h1>
  <p>This website marks the completion of my DBMS final project for Semester 2, instructed by Professor <strong>Pravin Kumar</strong>. Here, I've demonstrated how database management systems are used in real-world web applications.</p>
  <p>I have speed runned the development process of this app, that's why its plain and simple. But its functional and easy to use.</p>
  <p>If you have any kind of Feedback it will be appreciated.</p>
  <p>Thanks for using my App.</p>
    </div>
  </div>
</div>
{% endblock body %}